.envrc

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Vim
*.swo
*.swp

# GoLand
.idea/

# Binaries
vhive
tags
runc
examples/deployer/deployer
.vscode/
istio-1.12.5/
endpoints.json
endpoints.json.org
go1.18.linux-amd64.tar.gz
protoc-3.19.4-linux-x86_64.zip
containerd-1.6.2-linux-amd64.tar.gz
rps*.csv
